<%= render 'logout' %>
<h1>写真一覧</h1>
<div>
  <a href="<%= Constants::GET_CODE_PATH %>">MyTweetAppと連携</a>
</div>
<div>
  <%= link_to "写真をアップロードする", new_photo_path %>
</div>

<ul>
  <% @photos.each do |photo| %>
    <li class="photo_list">
      <p><%= photo.title %></p>
      <div>
        <img src="<%= image_path(photo.filename)%>" alt="<%= photo.title %>">
      </div>
    </li>
  <% end %>
</ul>